.scrolling-table
{
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.scrolling-table table
{
    margin: 0;
    border-collapse: collapse;
}

.scrolling-table td, th
{
    padding: .5em 1em;
    border: 1px solid #999;
}

.ui-listview .wrapped
{
    white-space: normal;
}

.blank_table {
    text-shadow: none;
}

.red_table {
    background: rgb(248, 179, 179);
    text-shadow: none;
}

.green_table {
    background: rgb(160, 228, 160);
    text-shadow: none;
}